<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CS5610 Web Development</title>


    <!-- Custom CSS -->
    <link rel="stylesheet" href="public/assignment/home_css/style.css">


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" href="fonts/font-slider.css" type="text/css">


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel= "stylesheet">
</head>
<body>


<div class="container">
    <ul class="list-group cl-list-group-borderless">
        <li ng-repeat="website in model.websites" class="list-group-item cl-list-item-borderless">
            <a href="#!/website/{{website._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></a>
            <a href="#!/website/{{website._id}}/page">{{website.name}}</a>
        </li>
    </ul>
</div>

<!-- Header -->
<div class="container-fluid">
    <h1>Zhe Song's Assignment</h1>
    <div ng-show="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
    <a class="btn btn-primary " href="#!/login"
       ng-if="!model.currentUser">Login</a>
    <a class="btn btn-primary" href="#!/profile"
       ng-if="model.currentUser">Profile</a>
    <h3>Contact Information:</h3>
    <h3>song.zhe2@husky.neu.edu</h3>
</div>




</body>
</html>