<div class="account-wall">
    <section ng-controller="AdminCtrl" ng-init="init()">
        <div> admin page </div>
        <div>
            <p>Users List</p>
            <form class="form" ng-submit="save()">
                <table border="1">
                    <thead>
                    <tr ng-repeat="user in users | limitTo:1">
                        <th ng-repeat="(key, val) in user" width="15%" align="center">
                            {{key}}
                        </th>
                        <th width="20" align="center">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td ng-repeat="(key, val) in user" width="15%" align="center" width="15%">
                            <div>
                                <input type="checkbox" ng-show="key=='isAdmin'" ng-checked="user.isAdmin" ng-model="user.isAdmin" ng-true-value="true" ng-false-value="false"> {{val}}
                            </div>
                        </td>
                        <td width="15%" align="center">
             <button type="button" class="btn btn-danger" ng-click="deleteUser($index)"> Delete </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <button type="submit" class="btn btn-primary"> Save</button>
            </form>
            <h3>Yelp app ID: X_8XQM6W7umJtvoQyo7WXg </>
            <h3>Yelp secret : Uao3cntMO6X7c4WzsWsTzerdKR9UhLJILPaWjItpljmSyL0cvtPhOgOTRv5DzYgX</>
        </div>
    </section>
</div>

