<div class="account-wall">

    <section ng-controller="ProfilesCtrl" ng-init="init()">
        <form style="text-align: center" class="form-inline" ng-submit="updateInfo()">
            <div class="form-group">
                <div class="controls">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">First Name</div>
                        <input ng-model="firstName" class="form-control" id="firstName" placeholder=""></input>
                    </div>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Last Name</div>
                        <input ng-model="lastName" class="form-control" id="lastName" placeholder=""></input>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <span class = "alert alert-success" ng-show="isUpdated">
                        <strong> Profile changes saved~</strong> </span>
                    <button  type="submit" class="btn btn-primary pull-right">Update</button>

                </div>
            </div>
        </form>
        <br/>

        <div>
            <a href="/#/login" ng-click="deleteAccount()" class="btn btn-danger">Delete Account</a>
        </div>

        <br/>

        <h2>Reviews</h2>
        <br>
        <div ng-repeat="review in reviews">
            <h1>
                <div ng-dblclick="edit(review)">
                    <input style=" border:none;
    background-color:yellow;" ng-model="review.title" ng-blur="doneEditing(review)"  />
                </div>
            </h1>
            <span class = "alert alert-success" ng-show="isEdited">
                    <strong> Reviews changed saved!</strong> </span>

            <p>
            <div ng-dblclick="edit(review)">
                <input style=" border:none;
    background-color:transparent;" ng-model="review.content" ng-blur="doneEditing(review)"/>
            </div>
            </p>
            <span class = "alert alert-success" ng-show="isEdited">
                    <strong> Reviews changed saved!</strong> </span>


            <div>
                <span class="badge badge-success">Posted {{review.created | date:'medium'}}</span>
                <div class="pull-right">
                    <button type="button" class="btn btn-danger" ng-click="deleteReview($index)"> Delete </button></div>

                <div class="pull-right">
                    <span class = "alert alert-success" ng-show="isEdited">
                    <strong> Reviews changed saved!</strong> </span>
                    <button  ng-click="model.edited" class="btn btn-primary">Update</button>
            </div>

            <hr>
        </div>
    </section>
</div>
