<section style="text-align: center" ng-controller="SearchCtrl">
    <form class="form-inline" ng-submit="search()">
        <div class="form-group">
            <div class="controls">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">Find</div>
                    <input ng-model="term" class="form-control" id="term" placeholder="Food"></input>
                </div>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">Near</div>
                    <input ng-model="location" class="form-control" id="location" placeholder="City or zipcode"></input>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>
        </div>
    </form>

    <br>
    <div ng-if="!yelp_businesses.length" style="color: red; font-weight: bold">No Results</div>
    <div ng-if="yelp_businesses.length">
        <div class="account-wall">
            <table id="searchingTable" class="table table-striped" border="1">
                <thead>
                <tr ng-repeat="b in yelp_businesses | limitTo:1">
                    <td ng-repeat="(key, val) in b" ng-if="key !== 'id'">
                        {{key}}
                    </td>
                    <th> Review </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="b in yelp_businesses">
                    <td ng-repeat="(key, val) in b" ng-if="key !== 'id'" width="15%">
                        <div ng-bind-html="val">{{val}}</div>
                    </td>
                    <td> <div> <a ng-href="/#/reviews/store/{{b.id}}/"> Review </a> </div> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>